<%- include('../partials/header') %>

    <h3>Add New Skill</h3>
    <form action="/skills" method="POST"> 
        <input name="skill">
        <button type="submit" class="btn btn-dark">Add Skill</button>
    </form>
    
<%- include('../partials/footer') %>