<%- include('../partials/header') %>

    <h3>This is the <%=skill.skill %> page</h3>
    <form action="<% skill.id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete Skill</button>
    </form>
    
<%- include('../partials/footer') %>